<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
    <link rel="stylesheet" href="styles/admin.css">

    <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">

    <link rel="stylesheet" type="text/css" href="vendors/datatable/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/datatable/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/select2/css/select2.min.css">


    <body>

        <link rel ="stylesheet" href="styles/nav.css">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img src="image/logo.png" alt="logo" width = auto height="65"/>
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="home-nav" class = "nav-link active" aria-current="page" href="#"><img src="image/home.png"/></a>
          </li>
          <li class="nav-item">
            <a id="Booking" class="nav-link" href="#"><img src="image/e-tiket.png"/></a>
          </li>
          <li class="nav-item">
            <a id="History" class="nav-link" href="#"><img src="image/history.png"/></a>
          </li>
          
        </ul>
      </div>
      <div class="user" href="#" id="profilUser">
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="btn dropdown-toggle no-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                        <a><strong>Hi User!</strong></a>
                        <img id="poto-profil" src="image/potoProfil.png" alt="poto-profil" width="auto" height="50"/>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="home-nav" class="dropdown-item" href="#"><img src="image/dashboard.png"/> Dashboard</a></li>
                        <li><a id="Profil" class="dropdown-item" href="#"><img src="image/profile.png"/> Profil</a></li>
                        <li><a class="dropdown-item" href="#"><img src="image/logout.png"/> Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    
    </div>
  </nav>

  <script>
    document.getElementById("Profil").addEventListener("click", function() {
      // Mengarahkan pengguna ke halaman selanjutnya
      window.location.href = "http://localhost:3000/profil";
  });

  document.getElementById("Dashboard").addEventListener("click", function() {
      // Mengarahkan pengguna ke halaman selanjutnya
      window.location.href = "http://localhost:3000/";
  });

  
  </script>

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h1><strong>Employee</strong></h1>
                                    <span class="float-right">
                                        <button class="btn btn-primary" type="button" id="button-submit" href="#" style="margin-bottom: 10%;">+ Add Employee</button>
                                    </span>
                                </h4>
                                <div class="card-content">
                                    <table class="table table-hover dt-responsive nowrap" id="listUser"
                                        style="min-width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Nama</th>
                                                <th>Email</th>
                                                <th>No. Handphone</th>
                                                <th>Role</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td>Fatkhul Karim</td>
                                                <td>karim.fatkhul@mail.com</td>
                                                <td>087741434432</td>
                                                <td>Role 1</td>
                                                <td>
                                                    <ul class="list-inline mb-0 options text-center tt-wrapper">
                                                        <li class="list-inline-item mr-3 edit"><a href="#"
                                                                class="mdi mdi-pencil" data-toggle="modal"
                                                                data-target="#edit-user"><span>Edit</span></a></li>
                                                        <li class="list-inline-item mr-3 delete"><a href="#"
                                                                data-toggle="modal" data-target="#delete-user"><i
                                                                    class="mdi mdi-delete"></i><span>Hapus</span></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>Fatkhul Karim</td>
                                                <td>karim.fatkhul@mail.com</td>
                                                <td>087741434432</td>
                                                <td>Role 2</td>
                                                <td>
                                                    <ul class="list-inline mb-0 options text-center tt-wrapper">
                                                        <li class="list-inline-item mr-3 edit"><a href="#"
                                                                data-toggle="modal" data-target="#edit-user"
                                                                class="mdi mdi-pencil"><span>Edit</span></a></li>
                                                        <li class="list-inline-item mr-3 delete"><a href="#"
                                                                data-toggle="modal" data-target="#delete-user"><i
                                                                    class="mdi mdi-delete"></i><span>Hapus</span></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>Fatkhul Karim</td>
                                                <td>karim.fatkhul@mail.com</td>
                                                <td>087741434432</td>
                                                <td>Role 3</td>
                                                <td>
                                                    <ul class="list-inline mb-0 options text-center tt-wrapper">
                                                        <li class="list-inline-item mr-3 edit"><a href="#"
                                                                data-toggle="modal" data-target="#edit-user"
                                                                class="mdi mdi-pencil"><span>Edit</span></a></li>
                                                        <li class="list-inline-item mr-3 delete"><a href="#"
                                                                data-toggle="modal" data-target="#delete-user"><i
                                                                    class="mdi mdi-delete"></i><span>Hapus</span></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>Fatkhul Karim</td>
                                                <td>karim.fatkhul@mail.com</td>
                                                <td>087741434432</td>
                                                <td>Role 2</td>
                                                <td>
                                                    <ul class="list-inline mb-0 options text-center tt-wrapper">

                                                        <li class="list-inline-item mr-3 edit"><a href="#"
                                                                data-toggle="modal" data-target="#edit-user"
                                                                class="mdi mdi-pencil"><span>Edit</span></a></li>
                                                        <li class="list-inline-item mr-3 delete"><a href="#"
                                                                data-toggle="modal" data-target="#delete-user"><i
                                                                    class="mdi mdi-delete"></i><span>Hapus</span></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>Fatkhul Karim</td>
                                                <td>karim.fatkhul@mail.com</td>
                                                <td>087741434432</td>
                                                <td>Role 2</td>
                                                <td>
                                                    <ul class="list-inline mb-0 options text-center tt-wrapper">
                                                        <li class="list-inline-item mr-3 edit"><a href="#"
                                                                data-toggle="modal" data-target="#edit-user"
                                                                class="mdi mdi-pencil"><span>Edit</span></a></li>
                                                        <li class="list-inline-item mr-3 delete"><a href="#"
                                                                data-toggle="modal" data-target="#delete-user"><i
                                                                    class="mdi mdi-delete"></i><span>Hapus</span></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>Fatkhul Karim</td>
                                                <td>karim.fatkhul@mail.com</td>
                                                <td>087741434432</td>
                                                <td>Role 2</td>
                                                <td>
                                                    <ul class="list-inline mb-0 options text-center tt-wrapper">
                                                        <li class="list-inline-item mr-3 edit"><a href="#"
                                                                data-toggle="modal" data-target="#edit-user"
                                                                class="mdi mdi-pencil"><span>Edit</span></a></li>
                                                        <li class="list-inline-item mr-3 delete"><a href="#"
                                                                data-toggle="modal" data-target="#delete-user"><i
                                                                    class="mdi mdi-delete"></i><span>Hapus</span></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

                </main>
                <footer>

                </footer>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
                    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
                    crossorigin="anonymous"></script>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                    crossorigin="anonymous"></script>


                <script src="vendors/js/vendor.bundle.base.js"></script>
                <script src="vendors/js/vendor.bundle.addons.js"></script>
                <script type="text/javascript" src="vendors/datatable/js/jquery.dataTables.min.js"></script>
                <script type="text/javascript" src="vendors/datatable/js/dataTables.bootstrap4.min.js"></script>
                <script type="text/javascript" src="vendors/datatable/export/js/dataTables.buttons.min.js"></script>
                <script type="text/javascript" src="vendors/datatable/export/js/buttons.colVis.min.js"></script>
                <script type="text/javascript" src="vendors/datatable/js/dataTables.responsive.min.js"></script>
                <script type="text/javascript" src="vendors/datatable/js/responsive.bootstrap4.min.js"></script>
                <script type="text/javascript" src="vendors/select2/js/select2.min.js"></script>

                <script>

                </script>
    </body>

</html>