<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <link rel ="stylesheet" href="styles/e-ticket.css">

<body>   
    <%- include("./partials/nav") %>
    <main>
        <div class="card-bg">
            <div class="card text-center mb-3" style="width: 30rem;">
                <div class="card-body">
                    <img src="image/centang.png" />
                    <ul>
                        <a id="fontT1"><strong>E-Ticket</strong></a> <br>
                        <a id="fontT2">8234567002</a><br>
                        <a id="fontT3"><strong>*Payment is made at the locket*</strong></a><br>
                        <a id="fontT4"><strong>Vehicle Plate Number</strong></a><br>
                        <a id="fontT5"><strong>D 1234 AN</strong></a>
                        <hr style="width: 150%; margin-left:-30%; ">
                        <img id="barchode" src="image/barchode.png"/><br>
                        <a id="fontT6"> Metro Indah Mall</a><br>
                        <a id="fontT7">Jl.Majapahit Bandung</a>
                    </ul>
                </div> 
            </div>
        </div>
        
    </main>
    <footer>
        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <script>
        document.getElementById("History").addEventListener("click", function() {
        // Mengarahkan pengguna ke halaman selanjutnya
        window.location.href = "http://localhost:3000/History";
    });

    document.getElementById("home-nav").addEventListener("click", function() {
        // Mengarahkan pengguna ke halaman selanjutnya
        window.location.href = "http://localhost:3000/dashboard";
    });


    </script>
</body>
</html>
