<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>landingPage--</title>

</head>

<link rel="stylesheet" href="styles/Login.css">

<body>
    <main>

<<<<<<< HEAD
        <div class="col-lg-6" style="padding: 0;">
            <img id="buletan" src="image/bolaprofil.png" style="max-width: 100%; height: 80% ">
        </div>

        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <!-- Isi di sini untuk bagian kanan halaman -->
            <div style="max-width: 400px; width: 100%;">
                <h1>Login to your account</h1>
                <form action="/login" method="post">
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="addon-wrapping"> <img src="image/email.png"/> </span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="addon-wrapping"> <img src="image/padlock.png"/> </span>
                        <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                            aria-describedby="addon-wrapping">
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Log in</button>
                </form>
                <p style="text-align: right;"><a href="#">Forgot password?</a></p>
                <p style="text-align: center;">Don't have an account? <a href="/signup">Sign up</a></p>
=======
                <div class="col-lg-6">
                    <img id="bulat" src="image/potoProfil.png" alt="poto-profil" width="auto" height="50"/>
                    <button class="btn btn-primary" id="Login-login" >Login</button>
                </div>
>>>>>>> eafb8a7f36f9c8dec4b1ea101f35a9d0b0651b9a
            </div>
        </div>
        

    </main>

    <script>
        document.getElementById("Login-login").addEventListener("click", function () {
            // Mengarahkan pengguna ke halaman selanjutnya
            window.location.href = "http://localhost:3000/dashboard";
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>