<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>SignUp2</title>

</head>

<link rel="stylesheet" href="styles/SignUp.css">

<body>
    <main>
        <div class="imgSignUp col-lg-6" style="padding: 0;">
            <img src="image/SignUp.png" style="max-width: 100%; height: 100%; "/>
        </div>
        <div class="container">
            <div class="row">
        
                <div class="createAccount col-md-12 col-sm-6">
                    <h1> Add your vehicle</h1>
                    <a> Fill in with the vehicle you use most often </a>

                    <div class="col-lg-4 offset-lg-4">
                        <form id="formSignUp" action="/SignUp" method="post">
                            <div class="input-group flex-nowrap mb-3">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                    aria-describedby="addon-wrapping">
                            </div>
                            <div class="input-group flex-nowrap mb-3">
                                <input type="text" class="form-control" placeholder="Vehicle Brand and Type" aria-label="Vehicle Brand and Type"
                                    aria-describedby="addon-wrapping">
                            </div>
                            <div class="input-group flex-nowrap mb-3">
                                <input type="text" class="form-control" placeholder="Color" aria-label="Color"
                                    aria-describedby="addon-wrapping">
                            </div>
                            <div class="input-group flex-nowrap mb-3">
                                <input type="text" class="form-control" placeholder="Vehicle Plate Number" aria-label="Vehicle Plate Number"
                                    aria-describedby="addon-wrapping">
                            </div>
                            <button id="createAccount" type="button"  class="btn btn-primary mb-3">Create account</button>
                        </form>
                    </div>
                </div>   
            </div>
        </div>
        
    </main>

    <script>
        document.getElementById("createAccount").addEventListener("click", function () {
            // Mengarahkan pengguna ke halaman selanjutnya
            window.location.href = "http://localhost:3000/";
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>