* {
    background-color: #f5faff;
}

#home-nav>img {
    height: 50px;
    margin-top: 10px;
    margin-left: 150px;
}

#admin-e > img{
    height: 40px;
    margin-left: 100px;
    margin-top: 8%;
}

#admin-history > img{
    height: 80px;
    margin-left: 100px;
    margin-top: -2%;
}

.card >h1{
    margin-top: 2%;
    margin-left: 2%;
}

.card {
    margin-top: 5%;
}

.navbar-brand{
    margin-left: 2%;
}

.dropdown-menu >*{
    background-color: white;
}

.card >*{
    background-color: white;
}

.total-customers {
    background-color: white;
}

.search-container >*{
    background-color: white;
}

.btn.btn-outline-primary {
    border-color: #1b78ac; /* Ganti dengan warna garis tepi yang diinginkan */
    box-shadow: #1b78ac;
  }

  #historyleft {
    margin-top: -40%; /* Atur margin atas sebesar 20px */
    width: 50px;
    margin-left: 5%;
  }


  