* {
    background-color: #f5faff;
}

.form{
    margin-top: 2%;
}

#home-nav>img {
    height: 50px;
    margin-top: 10px;
    margin-left: 150px;
}

#admin-e > img{
    height: 40px;
    margin-left: 100px;
    margin-top: 8%;
}

#admin-history > img{
    height: 80px;
    margin-left: 100px;
    margin-top: -2%;
}

#judul-adminHistory{
    margin-bottom: 5%;
    
}

.card{
    margin-top: 5%;
}

.btn{
    margin-top: 5%;
    text-align:center ;
    justify-content: center;
    align-items: center;
}


#iconPeople{
    width: 70px;
}
