/* E_TICKET */
*{
    background-color: #f5faff;
}

.nav-item{
    margin-left: 100px;
}
.nav-link > img{
    height: 80px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, 20%);
}

.card-body{
    background-color: white;
}


.card-body >img {
    width: 125px;
    height: auto;
    margin-top: -17%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#fontT1{
    font-size: 27px;
}

#fontT2{
    font-size: 15px;
}

#fontT3{
    font-size: 19px;
    color: #868484;
    font-weight: 370;
}

#fontT4{
    font-size: 16px;
}

#fontT5{
    font-size: 20px;
    color: black;
    font-weight: 700;
}

#fontT6{
    font-size: 12px;
    color: black;
    font-weight: 500;
}
#fontT7{
    font-size: 12px;
    color: black;
    font-weight: 500;
}

#barchode{
    width: 300px;
}

.card-bg{
    background-color: white;
}