* {
    background-color: #f5faff;
}

.no-arrow::after {
    display: none !important;
}

#home-nav>img {
    height: 50px;
    margin-top: 10px;
}

.nav-item {
    margin-left: 100px;
}

.navbar-brand{
    margin-left: 2%;
}

/*
.nav-link > img{
    height: 80px;
}
  */

#Scan>img {
    height: 80px;
}


#List>img {
    height: 90px;
    margin-top: -5%;
}


.boxScan>img {
    margin-top: 5%;
    width: auto;
    height: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}


.container {
    display: flex;
    justify-content: center;
}

.col >h1{
    margin-bottom: 3%;
}

.dropdown-menu >*{
    background-color: white;
}
  
