* {
    background-color: #f5faff;
}

.no-arrow::after {
    display: none !important;
}

#home-nav>img {
    height: 50px;
    margin-top: 10px;
}

.nav-item {
    margin-left: 100px;
}

/*
.nav-link > img{
    height: 80px;
}
  */

#Booking>img {
    height: 80px;
}

#List>img {
    height: 90px;
    margin-top: -5%;
}

.card-header {

    background-color: #1b78ac;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size:larger;
}

.card-header >a{
    background-color: #1b78ac;
}

.card-body h5:not(:has(strong)) {
    color: #888; /* Ubah warna sesuai keinginan Anda */
}

.card-footer *{
    background-color: white;
}

.card-footer{
    background-color: white;
}

.card-body{
    background-color: #DBEEFF;
}

.card-body *{
    background-color: #DBEEFF;
}

.col {
    display: flex;
    justify-content: center;
}
